DISCORD_TOKEN=MTM3NDQyNDU0NDc4OTY2MzkyNg.GFDvP9.OFX9foW7m35GGYwybXh7Fu-3Pifvyhtj3Kh8LE
MONGO_TOKEN=
GIPHY_TOKEN=JD36mSYcHxKXP0Af2rwGf90AZO1pYXeu
WEBHOOK_ID=
WEBHOOK_TOKEN=
DISCORD_ID=757189691047936100

# Not neccessary variables
# Wondering how to get these? Check out https://github.com/CorwinDev/Discord-Bot#requirements
DISCORD_STATUS="Listening to meself, I'm a stupid bot, https://github.com/corwindev/discord-bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
LAVALINK_SECURE=false
OPENAI= 
